.postContainer {
  width: 42%;
  margin: 20px auto;
  border: 1px solid lightgrey;
}

h2 {
  font-size: 14px;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.postThumbnail {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 0 10px 0 20px;
}

.postMainImg {
  width: 100%;
}

.likeAndCommentIcons {
  padding: 8px;
}

.likeAndCommentIcons i {
  font-size: 24px;
  margin: 0 10px;
}

.likes {
  margin: 0 20px;
  padding: 0;
  font-size: 14px;
}

.timestamp {
  margin: 5px 0 10px 20px;
  padding: 0;
  font-weight: normal;
  color: grey;
  font-size: 10px;
}

hr {
  border-color: lightgrey;
  margin: 0 20px;
}

.commentBox {
  height: 30px;
  width: 95%;
  font-size: 14px;
  border: none;
  padding: 0;
  margin: 10px;
  margin-left: 20px;
}